#h1{
    font-family: "JasmineUPC";
    font-size : 40px;
}

#a0{
    font-family: "JasmineUPC";
    font-size : 30px;
}

#a1{
    font-family: "JasmineUPC";
    font-size : 30px;
}

ิ#his{
    font-family: "JasmineUPC";
    font-size : 30px;
}